.contact-row {
  display: flex;
  font-size: 0.75rem;
}
.location-header-class {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  font-size: 1.25rem;
  border: none;
  background-color: #fff;
  box-shadow: #64646f33 0px 7px 29px 0px;
  text-transform: uppercase;
  cursor: pointer;
}
.app-header {
  background-color: var(--bs-teal);
}
.app {
  background-color: #ffffffde;
  height: 100vh;
}
.back-arrow {
  cursor: pointer;
  i:hover {
    color: teal;
  }
}

.contact-card {
  border: none;
  box-shadow: #64646f33 0px 7px 29px 0px;
}
